.portfolioCard__container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	gap: 1rem;
	padding: 1.5rem;
	border-radius: 1rem;
	text-align: center;
	background-color: var(--bg-variant);
	max-width: 22rem;

	h4 {
		color: var(--white);
	}

	img {
		background-color: transparent;
		border-radius: 1rem;
		object-fit: contain;
	}
}
